<h1 mat-dialog-title>Create Note</h1>

<form class="flex flex-col w-full" [formGroup]="noteForm">
  <mat-form-field class="example-full-width" >
    <mat-label>Title</mat-label>
    <input matInput placeholder="Title here sir" formControlName="title" name="title">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Description here please sir" formControlName="description" name="description"></textarea>
  </mat-form-field>
</form>

<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="createNote()">Create</button>
</div>